@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Rubik+Mono+One&family=Ruslan+Display&family=Stalinist+One&display=swap');
@import url("/russia/fonts/roboto/stylesheet.css");
header {
    color: white;
    background-color: #155a15;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 20pt;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    font-style: normal;
}



.info {
    background: white;
    height: 25px;
  
}

.info a {
    text-decoration: none;
    color: black;
    margin: 0%;
}

.info a:hover {
    
    
    border: none;
}

header div {
    color: white;
    background-color: #134d1360;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: white;
    margin: 2%;
}

#id {
    text-decoration: none;
    color: red;
    margin: 2%;
}

header a:active, footer a:active {
    color: red;
    border: solid 1px;
    border-radius: 10px;
}

#nav-country {
    color: white;
    background-color: #00000000;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header a:hover {
    text-decoration: none;
    color: red;
    background-color: #134d1363;
}

main {
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}

a {
    text-align: center;
    margin: 1%;
}

footer {
    width: 100%;
    height: auto;
    background: #343c50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    font-style: normal;
    color: white;
    text-align: center;
}

.dre {
    width: 32px;
    border-radius: 1px;
}

footer a {
    text-decoration: none;
    font-size: 15px;
    color: #c2c2c2;
}

footer a:hover {
    text-decoration: none;
    color: green;
}

footer p {
    text-indent: 0px;
}

.fr {
    width: 40px;
    border-radius: 0px;
}

header a:hover {
    transition: 0.5s;
    border-radius: 10px;
    border: solid 1px;
}

.rus {
    background: rgb(214, 39, 24);
    background: linear-gradient(315deg, rgba(214, 39, 24, 1) 0%, rgba(143, 44, 74, 1) 33%, rgba(0, 54, 167, 1) 33%, rgba(0, 54, 167, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    color: black;
    animation: tyr 4s infinite;
}

.rus a {
    color: black;
}

.rus a:hover {
    color: black;
}

@keyframes tyr {
    0% {
        background: rgb(219, 13, 32);
        background: linear-gradient(0deg, rgba(219, 13, 32, 1) 0%, rgba(219, 13, 32, 1) 33%, rgba(1, 141, 233, 1) 33%, rgba(1, 141, 233, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    }
    25% {
        background: rgb(214, 39, 24);
        background: linear-gradient(0deg, rgba(214, 39, 24, 1) 0%, rgba(143, 44, 74, 1) 33%, rgba(0, 54, 167, 1) 33%, rgba(0, 54, 167, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    }
    100% {
        background: rgb(219, 13, 32);
        background: linear-gradient(0deg, rgba(219, 13, 32, 1) 0%, rgba(219, 13, 32, 1) 33%, rgba(1, 141, 233, 1) 33%, rgba(1, 141, 233, 1) 67%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    }
}

.wer {
    overflow-x: auto;
}

table p {
    text-indent: 0px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
}

table .flagi {
    width: 25px;
    border-radius: 0px;
    border: 0.1px solid black;
}

table .gerbs {
    width: 100px;
    border-radius: 2.5px;
}

table .gerbs:hover {
    width: 100px;
    border-radius: 2.5px;
    border: none;
}

table td {
    height: 30px;
    vertical-align: center;
}

/* выравнивание по верхней границе ячейки */

table a {
    margin: 0%;
    font-style: italic;
    color: #ffffff;
}

table a:hover {
    margin: 0%;
    color: red
}
.sos{
    text-decoration: none;
    color: white;
    margin: 0%;
}
.sos:hover{
    text-decoration: none;
    color: red;
    margin: 0%;
}
body.dark{
    font-family: Arial, Helvetica, sans-serif;
    text-align: auto;
    background-color: black;
    font-size: 15px;
    height: 100%;
}
body.dark header{
    color: white;
    background: #051a05;
  
  
}
body.dark main {
    background: rgb(12, 12, 11);
   
  
}
body.dark header div {
    color: white;
    background-color: #001b00;
}
body.dark footer {
    background: #000000;
}
body.dark div table{
    color:#ffffff;
}
body.dark .rusu23 {
    background: #00000000;
}
body.dark #nav-country {
    color: white;
    background-color: #00000000;
}